@import "tailwindcss";

@theme {
  --color-text: #ced4ee;
  --color-background: #090910;
  --color-primary: #98a0e6;
  --color-secondary: #22358c;
  --color-accent: #7b91f4;

  --font-sans: var(--font-rubik);
  --font-display: var(--font-general-sans);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans), sans-serif;
}
